.result {
    margin-top: 20px;
    font-size: 24px;
}

.content {
    padding: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    margin-top: 20px;
}
